const prodUrl = "https://siteplaceholder.herokuapp.com";

const jsonbinKey = '???X-Master-Key???';
const jsonbinDocIdRecents = '???id???';

GOOGLE_ANDROID_CLIENT_ID: "???id???",
GOOGLE_YOUTUBE_API_KEY: "???key???",

const ENV = {
    dev: {
        apiUrl: "http://192.168.1.7:3333",
        jsonbinKey,
        jsonbinDocIdRecents,
        GOOGLE_ANDROID_CLIENT_ID,
        GOOGLE_YOUTUBE_API_KEY
    },
    staging: {
        apiUrl: prodUrl,
        jsonbinKey,
        jsonbinDocIdRecents,
        GOOGLE_ANDROID_CLIENT_ID,
        GOOGLE_YOUTUBE_API_KEY
    },
    prod: {
        apiUrl: prodUrl,
        jsonbinKey,
        jsonbinDocIdRecents,
        GOOGLE_ANDROID_CLIENT_ID,
        GOOGLE_YOUTUBE_API_KEY
    }
};

export default { ...ENV.staging };